{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

{% block container %}

    <div class="col-sm-12 col-md-6">
        <div class="caption">
            <h3>{{ school.name }}</h3>
            <h4>{{ school.number|schoolNumber}}</h4>
            <p>{{ school.description }}</p>
            <a href="#" class="btn btn-primary" role="button">{{ "teacher.register_in_school"|trans() }}</a>
            <a href="#" class="btn btn-default" role="button">{{ "student.register_in_school"|trans() }}</a>
        </div>
    </div>

{% endblock %}