{% extends '::base.html.twig' %}

{% block title %}CoolSchoolproject{% endblock %}
{% block container %}
    <div class="row">
        {% for school in schools %}
        <div class="col-sx-6 col-md-4">
            <div class="thumbnail">
                {#<img src="{{ school.image }}" alt="Здесь школьный логотип" class="img-circle">#}
                <div class="caption">
                    <h3><a href="{{ path('santa_coolschool_school_show', {'slug': school.slug}) }}">{{ school.name }}</a></h3>
                    <h4>{{ school.type }} {{ school.number|schoolNumber}}</h4>
                    <p>{{ school.description }}</p>
                    <div class="list-group">
                        <ul>
                            {% for specialization in school.specializations %}
                                <li class="list-group-item">
                                    {{ specialization }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <a href="#">Ученики</a> <span class="badge">{{ school.totalstudents }}</span>
                    </div>
                    <div>
                        <a href="#">Классы</a> <span class="badge">{{ school.totalclasses }}</span>
                    </div>
                </div>
            </div>
        </div>
            {#<div class="clearfix col-sx-6 col-md-4"></div>#}
        {% endfor %}
    </div>
    {% endblock %}